body{
         
background-position: left;
}
h1{
    color: rgb(109, 9, 30);
    font-size: x-large;
    font-weight: 600;
}
#movie-poster{
    max-width: 35%;
    height: auto;
}

#btn{
    padding: 8px;
    margin-top: 20px;
    width: 100px;
    
}